<h1>Home page</h1>
<img [src]="imageUrl">

<div class="container">

  <input type="text" name="msg" id="msg" [(ngModel)]="msgText">
  <p>{{ msgText }}</p>

  <button (click)="firstClick()">Click me</button>

  <button (click)="checkLogin()">Check Login</button>
  <p>
    {{ "ITGenius Engineering" | lowercase}}
  </p>

  <h1>Users</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li>
</ul>

</div>